@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-lora: var(--font-lora);
  --font-inter: var(--font-inter);

  --color-primary: var(--primary);
  --color-primary-variant: var(--primary-variant);
  --color-on-primary: var(--on-primary);
  --color-secondary: var(--secondary);
  --color-secondary-variant: var(--secondary-variant);
  --color-on-secondary: var(--on-secondary);
  --color-on-secondary-variant: var(--on-secondary-variant);
  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-on-background-inverse: var(--on-background-inverse);
  --color-surface: var(--surface);
  --color-surface-variant: var(--surface-variant);
  --color-on-surface: var(--on-surface);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-divider: var(--divider);
  --color-outline: var(--outline);
  --color-hover-primary: var(--hover-primary);
  --color-hover-secondary: var(--hover-secondary);
  --color-error: var(--error);
  --color-on-error: var(--on-error);
  --color-accent: var(--accent);
  --color-accent-variant: var(--accent-variant);
  --background-image-gradient-accent: var(--gradient-accent);
  --background-image-gradient-accent-variant: var(--gradient-accent-variant);
  --background-image-gradient-secondary: var(--gradient-secondary);
  --background-image-gradient-secondary-variant: var(
    --gradient-secondary-variant
  );

  /* #region Shadcn theme variables */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  /* #endregion */
}

:root {
  --primary: #f7bf11;
  --primary-variant: #ffd553;
  --on-primary: #1d1a15;
  --secondary: #898121;
  --secondary-variant: #bdb44a;
  --on-secondary: #1c1c12;
  --on-secondary-variant: #686601;
  --background: #fdeed1;
  --on-background: #211f1a;
  --on-background-inverse: #fffbf2;
  --surface: #fff4e0;
  --surface-variant: #fffbf2;
  --on-surface: #2b2823;
  --on-surface-variant: #99907f;
  --divider: #e3d6bc;
  --outline: #b1a793;
  --hover-primary: rgba(255, 226, 135, 0.4);
  --hover-secondary: rgba(189, 180, 74, 0.3);
  --error: #9c1f1f;
  --on-error: #fff8f8;
  --accent: #f7bf11;
  --accent-variant: #e6cc4d;
  --gradient-accent: radial-gradient(
    85.71% 85.71% at 50% 50%,
    #e7b10a 0%,
    #ffd553 100%
  );
  --gradient-accent-variant: radial-gradient(
    95.41% 95.41% at 50% 50%,
    #e7b10a 0%,
    #fdeed1 100%
  );
  --gradient-secondary: linear-gradient(135deg, #ffd553 0%, #bdb44a 100%);
  --gradient-secondary-variant: linear-gradient(
    215.14deg,
    #bdb44a 17.94%,
    #71701d 110.18%
  );

  /* #region Shadcn UI variables */
  --radius: 0.625rem;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /* #endregion */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  @keyframes wine-wave {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% + 85px));
    }
  }

  .animate-wine {
    animation: wine-wave 4s ease-in-out infinite alternate;
  }
}
